<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:arg name="use_sim" default="true"/>

  <!-- Default joint list. -->
  <xacro:property name="joints" value="
    l_hip_yaw l_hip_roll l_hip_pitch
    l_knee     l_ankle_pitch l_ankle_roll
    r_hip_yaw r_hip_roll r_hip_pitch
    r_knee     r_ankle_pitch r_ankle_roll
    l_shoulder_pitch l_shoulder_roll l_elbow
    r_shoulder_pitch r_shoulder_roll r_elbow
  "/>

  <xacro:macro name="ifaces_for_joint" params="name dxl_id:=">
    <joint name="${name}">
      <command_interface name="position"/>
      <state_interface   name="position"/>
      <state_interface   name="velocity"/>
      <state_interface   name="effort"/>
      <xacro:if value="${dxl_id}">
        <param name="dxl_id">${dxl_id}</param>
      </xacro:if>
    </joint>
  </xacro:macro>

  <xacro:macro name="robotis_mini_ros2">
    <ros2_control name="robotis_mini" type="system">
      <hardware>
        <xacro:if value="$(arg use_sim)">
          <!--<plugin>robotis_mini/hardware_sim</plugin>-->
          <plugin>gz_ros2_control/GazeboSimSystem</plugin>
        </xacro:if>
        <xacro:unless value="$(arg use_sim)">
          <plugin>robotis_mini/hardware</plugin>
          <!-- Params for real hardware. -->
          <param name="port">/dev/ttyUSB0</param>
          <param name="baud">1000000</param>
          <param name="protocol">2.0</param>
        </xacro:unless>
      </hardware>

      <!-- Emit interfaces for every joint in ${joints} -->
      <xacro:ifaces_for_joint name="l_shoulder_joint" dxl_id="1"/>
      <xacro:ifaces_for_joint name="r_shoulder_joint" dxl_id="2"/>
      <xacro:ifaces_for_joint name="l_biceps_joint" dxl_id="3"/>
      <xacro:ifaces_for_joint name="r_biceps_joint" dxl_id="4"/>
      <xacro:ifaces_for_joint name="l_elbow_joint" dxl_id="5"/>
      <xacro:ifaces_for_joint name="r_elbow_joint" dxl_id="6"/>
      <xacro:ifaces_for_joint name="l_hip_joint" dxl_id="7"/>
      <xacro:ifaces_for_joint name="r_hip_joint" dxl_id="8"/>
      <xacro:ifaces_for_joint name="l_thigh_joint" dxl_id="9"/>
      <xacro:ifaces_for_joint name="r_thigh_joint" dxl_id="10"/>
      <xacro:ifaces_for_joint name="l_knee_joint" dxl_id="11"/>
      <xacro:ifaces_for_joint name="r_knee_joint" dxl_id="12"/>
      <xacro:ifaces_for_joint name="l_ankle_joint" dxl_id="13"/>
      <xacro:ifaces_for_joint name="r_ankle_joint" dxl_id="14"/>
      <xacro:ifaces_for_joint name="l_foot_joint" dxl_id="15"/>
      <xacro:ifaces_for_joint name="r_foot_joint" dxl_id="16"/>
    </ros2_control>
  </xacro:macro>

</robot>