#!/usr/bin/env python3

from launch import LaunchDescription
from launch.actions import SetEnvironmentVariable, IncludeLaunchDescription, OpaqueFunction, DeclareLaunchArgument
from launch.launch_description_sources import PythonLaunchDescriptionSource
from launch.substitutions import PathJoinSubstitution, LaunchConfiguration
from launch_ros.actions import Node
from launch_ros.substitutions import FindPackageShare
from pathlib import Path

def generate_launch_description():
    # Package shares
    ros_gz_sim_share = FindPackageShare('ros_gz_sim')
    vis_pkg_share    = FindPackageShare('robotis_mini_vis')
    model_pkg_share  = FindPackageShare('robotis_mini_model')

    # Paths
    gz_server_launch = PathJoinSubstitution([ros_gz_sim_share, 'launch', 'gz_server.launch.py'])
    default_world = PathJoinSubstitution([vis_pkg_share, 'worlds', 'empty.world'])

    # Args
    use_sim_time = DeclareLaunchArgument('use_sim_time', default_value='true')
    world = DeclareLaunchArgument('world', default_value=default_world)
    spawn_z = DeclareLaunchArgument(
        'spawn_z', default_value='0',
        description='Initial Z height for robot spawn (meters)'
    )

    def build_nodes(context, *_, **__):
        world_file = LaunchConfiguration('world')
        z0 = LaunchConfiguration('spawn_z')

        return [
            # Gazebo server.
            IncludeLaunchDescription(
                PythonLaunchDescriptionSource(gz_server_launch),
                launch_arguments={
                    'world_sdf_file': world_file
                }.items()
            ),

            # Spawn robot from /robot_description into running Gazebo.
            Node(
                package='ros_gz_sim',
                executable='create',
                arguments=[
                    '-name', 'robotis_mini',
                    '-topic', 'robot_description',
                    '-allow_renaming', 'true',
                    '-x', '0', '-y', '0', '-z', z0
                ],
                output='screen'
            )
        ]

    return LaunchDescription([
        use_sim_time,
        world,
        spawn_z,
        OpaqueFunction(function=build_nodes),
    ])
